@keyframes discord {
	0% {height:70px; width:250px;}
	 100% {height:15rem;width:300px;}
}
@keyframes discord-c {
	0% {height:15rem;width:300px;}
    100% {height:70px; width:250px;}
}
.discord {
	animation-name: discord-c;
	animation-duration: .25s;
	animation-play-state: pause;
	
    height:70px;
    width:250px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
    align-items: center;
    
   
	
}

.discord:hover {
	height:15rem;
	width:300px;
	animation-name: discord;
	animation-duration: .25s;
    animation-play-state: pause;
    align-items: center;
    margin: 20px 0 20px 0;
}
	